.mainTxt{
    border-radius: 25px 25px 0 25px;
}
.cardBorderCircle{
    border-radius: 0 0 25px 25px;
    position: relative;
}
.cardBorderCircle::before{
    content: '';
    position: absolute;
    padding: 20px;
    border-radius: 100%;
    background-color: rgba(240, 248, 255, 0);
    box-shadow: '';
    top: 0px;
    left: -38px;
    box-shadow: 10px -10px 2px #041723;
}
.cardBorderCircle{
    margin-top: -2px;
}
.sliderGrp:hover .mainTxt,
.sliderGrp:hover .bottomGrp .cardBorderCircle{
    box-shadow:10px 10px 2px #4cced0;

}

/* swiper */
.thought-swiper{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thought-swiper .swiper-wrapper {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.thought-swiper .swiper-button-prev,
.thought-swiper .swiper-button-next{
    border-radius: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    background-color: #041723;
    margin-top: 200px;
}
.thought-swiper .swiper-button-prev{
    margin-left: 42%;
}
.thought-swiper .swiper-button-next{
    margin-right: 42%;
}



.thought-swiper .swiper-button-prev:hover,
.thought-swiper .swiper-button-next:hover{
    background-color: #4cced0;
}
.thought-swiper .swiper-button-prev::after,
.thought-swiper .swiper-button-next::after{
    font-size: 25px;
}

@media(max-width:780px){
    .thought-swiper .swiper-button-prev{
        margin-left: 30%;
    }
    .thought-swiper .swiper-button-next{
        margin-right: 30%;
    }
    
}