.container{
  max-width:1400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.show_Case{
  background-image: url(./assets/Group\ 10.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.showCase-swiper {
  background-color: #04344F;
  width: 100%;
  border-radius: 60px;
  height: 40px;
}

.showCase-swiper .swiper-wrapper{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 100px;
}

.showCase-swiper .swiper-button-prev,
.showCase-swiper .swiper-button-next{
  color: white;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #012235;
}

.showCase-swiper .swiper-button-prev{
  margin-left: -10px;
}
.showCase-swiper .swiper-button-next{
  margin-right: -10px;
}

.showCase-swiper .swiper-button-prev::after{
  font-size: 25px;
  margin-top: 0;
  margin-left: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.showCase-swiper .swiper-button-next::after{
  font-size: 25px;
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* show Case part styles */
.showCase-mainImage,
.showCase-mainImage-hover{
  position: absolute;
  z-index: -1;
  top: 0; 
  right: 25px;
  max-width: 900px;
  width: 100%;
}
.showCase-mainImage{
  top: 25px;
  right: 0px;
}
.showCase-absoluteCircle{
  position: absolute;
  z-index: -1;
  bottom: 88px;
  right: 590px;
}
/* colorly text styles */
.with_span{
  color: white;
  font-size: 63px;
  font-weight: 700;
}
.head-our{
  font-size: 72px;
  font-weight: 700;
}
.head-txt{
  font-size: 24px;
}
.grp_left{
  margin-top: 50px;
}

/* main_about styles */
.main_about{
  background-image: url(./assets/Group.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.mainServiceGrp:hover{
  box-shadow:10px 10px 4px #4cced0;
}

.arrow-btn:hover,
.call-btn:hover{
  color: #4cced0;
}

@media(max-width:1400px){
  /* show Case part styles */
.showCase-mainImage,
.showCase-mainImage-hover{
  top: 0; 
  right: 125px;
  max-width: 700px;
}
.showCase-mainImage{
  top: 25px;
  right: 100px;
}
.showCase-absoluteCircle{
  bottom: 100px;
  right: 350px;
}
/* colorly text styles */
.grp_left{
  margin-top: 28px;
  padding-left: 100px;
}
.with_span{
  font-size: 55px;
}
.head-our{
  font-size: 60px;
}
.head-txt{
  font-size: 24px;
}
}

@media(max-width:1320px){
  .showCase-title{
    background-color: #04344F;
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 15px ;
  }
}

@media(max-width:1028px){
  .showCase-absoluteCircle{
    position: initial;
    bottom: 100px;
    right: 350px;
  }
  .grp_left{
    margin-top: 0px;
    padding-left: 0px;
  }
}

@media(max-width:600px){
  .with_span,.head-our{
    font-size: 35px;
  }
  .head-txt{
    font-size: 22px;
  }
  .btn_grp{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media(max-width:375px){
  .with_span,.head-our{
    font-size: 25px;
  }
  .head-txt{
    font-size: 20px;
  }
}