@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @theme{
  --color-primery: #012235;   
  secondary: "#4CCEDO", 
  hoverColor: "#848484",  
  fillIcon: "#12A4A6",    
  linear: "#OO578A",      
  lampColor:"#O6629B";
} */

*{
  font-family: "Roboto",sans-serif;
  scroll-behavior: smooth;
}